RewriteEngine On
# Prevent access to .git directory
RewriteRule ^(.*/)?\.git/ - [F,L]
# Prevent access to piwik.html
RewriteRule ^/?piwik.html$ - [F,L]
# Non-verbose error document
ErrorDocument 403 "Access Forbidden"

