body {
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
}
#branding {
	background: #eee;
	padding: 1ex;
}
#nav {
	background: #eef;
	width: 10em;
	list-style: none;
	margin: 0 auto;
	padding: 1ex;
	position: absolute;
	right: 0;
	top: 0;
	voice-family: "\"}\"";
	voice-family: inherit;
	position: fixed;
}
#nav #current {
	background: #bbf;
}
#nav a {
	color: blue;
	display: block;
}
#biblio {
	display: block;
	background: #eee;
	width: 98%;
	padding: 1%;
	margin: 0;
}
