#branding {
	position: fixed;
	width: 100%;
}
#blurb, #biblio, #nav {
	display: none;
}
ol {
	position: absolute;
	top: 4em;
	width: 392em;
	margin: 0; padding: 0;
}
ol li {
	background: url(../images/arrow.gif) no-repeat 18px -30px;
	border-top: 3px solid;
	padding: 1em;
	padding-top: 2em;
	width: 12em;
	list-style: none;
	float: left;
}
ol li:hover {
	background: url(../images/arrow.gif) no-repeat 18px -30px #eef;
}
