#branding {
	position: fixed;
	width: 100%;
}
ol {
	position: absolute;
	top: 8em;
	width: 392em;
	margin: 0; padding: 0;
}
ol li {
	background: url(../images/arrow.gif) no-repeat 18px -30px;
	border-top: 3px solid;
	padding: 1em;
	padding-top: 2em;
	width: 12em;
	list-style: none;
	float: left;
}
ol li:hover {
	background: url(../images/arrow.gif) no-repeat 18px -30px #eef;
}
#biblio {
	position: absolute;
	bottom: 0;
	voice-family: "\"}\"";
	voice-family: inherit;
	position: fixed;
}
